---
title: Home
layout: default
---

<div class='container'>
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  {% unless post.draft %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
    {% for cat in post.categories %}
      <span class="date">{{ post.date | date: '%B %d, %Y' }} • {{ cat | upcase }}</span>
    {% endfor %}
    </p>
    <div class="content">
      <span style="white-space: nowrap">{{ post.excerpt }}<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Keep reading &raquo;</a></span>
    </div>
  {% endunless %}
  {% endfor %}

  <!-- Pagination links -->
  <hr>
  <header class="masthead text-center">
  <div class="pagination">

  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  <br>

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"> < newer posts </a>
  {% else %} <!-- Non active -->
    <span class="previous"> < newer posts </span>
  {% endif %}
   •
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next"> older posts > </a>
  {% else %} <!-- Non active -->
    <span class="next "> older posts > </span>
  {% endif %}

  </div>
</div>
  </header>
</div>
