<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | strip_html }} &#126;{% endif %} {{ site.name | strip_html }}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | strip_html }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | strip_html }}" />

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="description" property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <meta name="twitter:card" content="summary_large_image" />
    {% if site.twitter_handler %}
    <meta name="twitter:site" content="@{{site.twitter_handler}}" />
    {% endif %}
    <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}" />

    <meta property="og:image" content="/assets/pics/brocoli.jpg" />
    <meta name="twitter:image" content="/assets/pics/brocoli.jpg" />

    <meta name="author" content="{{site.name}}" />
    <meta name="copyright" content="Copyright by {{site.name}}. All Rights Reserved." />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% include fonts.html %}
    {% if {{site.favicon != blank}} %}
    <link href="{{ site.favicon }}" rel="shortcut icon" type="image/x-icon" />
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- MathJax -->
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
