<aside class="user-profile {% if site.fixed_sidebar == 1 %}fixed{% endif %}" role="complementary">
    <div class="burger">
        <input class="trigger hidden" id="toggleBurger" type="checkbox" />
        <label for="toggleBurger">
            <span>Navigation</span>
        </label>
    </div>

    <div class="compact-header">
        <a href="{{ "/" | prepend: site.baseurl }}"><img class="avatar" src="{% if site.avatar %}{{site.avatar}}{% else %}{{ site.email | to_gravatar:140 }}{% endif %}" /></a>
        <div class="my-info">
            <strong class="my-name">{{ site.name }}</strong>
            <span class="my-job-title">{{ site.job_title }}</span>
        </div>
    </div>

    {% if site.show_menu == 1 %}
        {% if site.pages %}
        <div class="mainmenu">
            <a href="{{ "/" | prepend: site.baseurl }}" {% if page.url == "/" or page.url contains "/posts/" %}class="active"{% endif %}>Blog</a>
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for p in sorted_pages %}
                {% if p.layout == 'page' %}{% unless p.hide == true %}
                    <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" {% if p.url == page.url %}class="active"{% endif %}>{{ p.title }}</a>
                {% endunless %}{% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}

    <p class="about-me">{{ site.description }}</p>

    <ul class="socials">
      <!-- Github -->
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://github.com/acarril"><i class="fab fa-github fa-stack-1x"></i></a>
        </span>
      </li>
      <!-- Instagram -->
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://www.instagram.com/alvcarril/"><i class="fab fa-instagram fa-stack-1x"></i></a>
        </span>
      </li>
      <!-- RSS -->
      {% if site.show_rss == 1 %}
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-rss fa-stack-1x"></i></a>
        </span>
      </li>
      {% endif %}
      <!-- Email -->
      {% if site.email != blank and site.show_email == 1 %}
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="mailto:{{site.email}}"><i class="fa fa-envelope fa-stack-1x"></i></a>
        </span>
      </li>
      {% endif %}

        <!-- {% for social in site.social_networks %}{% if social.url != '' %}<li><a href="{{social.url}}"><svg title="{{social.name}}" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#{{social.name}}-icon"></use></svg></a></li>{% endif %}{% endfor %} -->

    </ul>
</aside>
