/* Wide width ("desktop" view) */
@media (min-width: 968px) {
    body {
        width: 800px;
    }

    main#content hr {
        width: 108%;
        margin-left: -3.8%;
    }

    main#content h3 {
        font-size: 2rem;
    }

    main#content ul#posts {
        font-size: 1.8rem;
    }

    /* Page heading */
    main#content header#post-header h1 {
        font-size: 2.4rem;
    }

    main#content img {
        max-width: 108%;
        margin-left: -3.8%;
    }

    main#content figure {
        margin-left: -3.8%;
    }

    main#content figure img {
        max-width: 108%;
    }

    main#content pre {
        width: 108%;
        margin-left: -3.8%;
        padding: 1.5rem 2.2rem;
    }
}

/* Mid width ("narrow desktop") with smooth body scaling from 800px to 600px */
@media (min-width: 768px) and (max-width: 967px) {
    body {
        width: calc(600px + (200 * (100vw - 768px) / 200));
    }
}
