{{ $filePath := "content/about.md" }}
{{ $fileContent := $filePath | readFile | replaceRE "^---[\\s\\S]+?---" "" | safeHTML }}
{{ $nSentences := (default 2 .Site.Params.aboutExcerptSentences) }}

{{/* Splitting content by newline */}}
{{ $fileContent := split $fileContent "\n" }}

{{/* Limit the array/slice,  start from 2nd item then grab all first 3 item */}}
{{ $fileContent := first $nSentences (after 2 $fileContent) }} <!-- There are newlines at the beginning. -->

{{/* Delimit by newline */}}
{{ $fileContent := delimit $fileContent "\n" }}

{{ $markdownExcerpt := markdownify $fileContent }}
{{ safeHTML $markdownExcerpt }}