<head>
    {{ if $googleAnalytics := .Site.Params.google_analytics }}
        {{ partial "analytics.html" . }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Description }}
        <meta name="description" content="{{ . }}">
    {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}">
    {{ with .OutputFormats.Get "rss" -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/media.css") -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <title>
        {{ if .Title }}
            {{ index (split .Site.Title " ") 0 }} ~ {{ .Title }}
        {{ else }}
            {{ .Site.Title }}
        {{ end }}
    </title>
</head>
